extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Facted Verify and Indexing services provide a user view into digital assets submitted to the Facted ecosystem for timestamping and archiving.
