extends layout

block content
  h1= title
  ul
    each deposition in depositions
      li
        span #{deposition.indexedAt} &nbsp;
        a(href="/deposition/" + deposition._id)= deposition.filename
