doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/flatly-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/ipfs/dist/index.min.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Facted Index
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/depositions/') Depositions
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    .container
      block content
      footer
        .row
          .col-xs-12
            small &copy; Proven Systems 2017
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
